body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(51, 255, 51);
}

form {
  padding: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

input {
  font-size: 20px;
  padding: 10px;
}
label {
  font-size: 20px;
  font-family: sans-serif;
}

button {
  padding: 10px;
  background: blue;
  border: none;
  margin-left: 6rem;
  margin-top: 20px;
}
.output{
font-size: 1rem;
}